%h3 Classes

%table.table
  %thead
    %tr
      %th Name
      %th{:colspan => "3"}

  %tbody
    - @my_classes.each do |my_class|
      %tr
        %td= my_class.name
        %td= link_to 'Show', my_class
        %td= link_to 'Edit', edit_my_class_path(my_class)
        %td= link_to 'Destroy', my_class, method: :delete, data: { confirm: 'Are you sure?' }
