%h3 Professors
%table.table
  %thead
    %tr
      %th Name
      %th{:colspan => "2"}
  %tbody
    - @professors.each do |professor|
      %tr
        %td= link_to professor.full_name, professor
        %td= link_to 'Edit', edit_professor_path(professor), {class: 'btn btn-secondary btn-sm', role: 'button'}
        %td= link_to 'Delete', professor, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm', role: 'button'
